In [1]:
import pandas as pd

Чтение и обработка данных

In [2]:
#Данные по пользователям

user_info = pd.read_sql(
    """SELECT * FROM public.user_data""",
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)
user_info.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

In [3]:
#Посты, текст
posts_info = pd.read_sql(
    """SELECT * FROM public.post_text_df""",
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)
posts_info.head()

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business
2        3  Asian quake hits European shares\n\nShares in ...  business
3        4  India power shares jump on debut\n\nShares in ...  business
4        5  Lacroix label bought by US firm\n\nLuxury good...  business

In [4]:
#Посмотрим сколько записей в таблице действий пользователей
count_feed_data = pd.read_sql(
    """SELECT count(*) FROM public.feed_data""",

    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)
count_feed_data.head()

      count
0  76892800

In [5]:
# Попробуем считать для начала 10 миллионов записей
feed_data = pd.read_sql(
    """SELECT * FROM public.feed_data LIMIT 10000000""",

    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)
feed_data.head()

            timestamp  user_id  post_id action  target
0 2021-11-28 21:49:17     4190     5957   view       0
1 2021-11-28 21:52:12     4190     3843   view       0
2 2021-11-28 21:53:20     4190     1523   view       0
3 2021-11-28 21:56:19     4190     2758   view       0
4 2021-11-28 21:57:05     4190     1072   view       0

Обработка данных.

In [6]:
# Посмотрим на колонку таргет
feed_data[feed_data.action != "view"]

                  timestamp  user_id  post_id action  target
21      2021-11-29 22:40:53     4190     5887   like       0
23      2021-11-29 22:43:36     4190     1144   like       0
48      2021-12-03 20:35:13     4190     5619   like       0
139     2021-12-20 14:20:03     4190     4889   like       0
164     2021-12-22 10:57:40     4190     5017   like       0
...                     ...      ...      ...    ...     ...
9999949 2021-11-14 21:31:24    81630     4248   like       0
9999954 2021-11-14 21:37:58    81630     5953   like       0
9999960 2021-11-14 21:48:28    81630     4440   like       0
9999966 2021-11-14 21:55:23    81630     5049   like       0
9999997 2021-11-17 22:42:19    81630     6292   like       0

[1065871 rows x 5 columns]

In [7]:
feed_data.head(50)

             timestamp  user_id  post_id action  target
0  2021-11-28 21:49:17     4190     5957   view       0
1  2021-11-28 21:52:12     4190     3843   view       0
2  2021-11-28 21:53:20     4190     1523   view       0
3  2021-11-28 21:56:19     4190     2758   view       0
4  2021-11-28 21:57:05     4190     1072   view       0
5  2021-11-28 21:57:26     4190     4657   view       0
6  2021-11-28 21:58:08     4190     4109   view       0
7  2021-11-28 22:00:21     4190      713   view       0
8  2021-11-28 22:02:25     4190     3784   view       0
9  2021-11-28 22:05:15     4190     4378   view       0
10 2021-11-28 22:06:47     4190     6840   view       0
11 2021-11-28 22:09:11     4190     2370   view       0
12 2021-11-28 22:11:55     4190     2128   view       0
13 2021-11-29 22:24:06     4190      609   view       0
14 2021-11-29 22:25:22     4190     5996   view       0
15 2021-11-29 22:28:04     4190     4862   view       0
16 2021-11-29 22:30:28     4190     2866   view       0
17 2021-11-29 22:32:09     4190     4284   view       0
18 2021-11-29 22:34:00     4190     6648   view       0
19 2021-11-29 22:36:49     4190     2521   view       0
20 2021-11-29 22:39:05     4190     5887   view       1
21 2021-11-29 22:40:53     4190     5887   like       0
22 2021-11-29 22:40:55     4190     1144   view       1
23 2021-11-29 22:43:36     4190     1144   like       0
24 2021-11-29 22:43:38     4190     1939   view       0
25 2021-11-29 22:44:20     4190      950   view       0
26 2021-11-29 22:45:16     4190     6326   view       0
27 2021-11-29 22:46:59     4190     7255   view       0
28 2021-11-29 22:48:56     4190     3428   view       0
29 2021-11-29 22:51:55     4190     5426   view       0
30 2021-11-29 22:54:04     4190     2949   view       0
31 2021-11-29 22:55:13     4190     3345   view       0
32 2021-11-29 22:55:52     4190      138   view       0
33 2021-11-29 22:58:24     4190     5745   view       0
34 2021-11-29 22:59:33     4190      458   view       0
35 2021-11-29 23:01:38     4190     6449   view       0
36 2021-11-29 23:02:21     4190     2946   view       0
37 2021-11-29 23:02:45     4190     3234   view       0
38 2021-11-29 23:05:00     4190     3073   view       0
39 2021-11-29 23:06:44     4190     5747   view       0
40 2021-11-29 23:07:21     4190     1643   view       0
41 2021-11-29 23:07:49     4190     5311   view       0
42 2021-11-29 23:09:20     4190      857   view       0
43 2021-11-29 23:11:54     4190     6541   view       0
44 2021-11-29 23:12:39     4190     4343   view       0
45 2021-11-29 23:13:55     4190     2871   view       0
46 2021-12-03 20:34:05     4190      967   view       0
47 2021-12-03 20:34:46     4190     5619   view       1
48 2021-12-03 20:35:13     4190     5619   like       0
49 2021-12-03 20:35:15     4190     3507   view       0

In [8]:
#Получается, что строки с like - избыточная информация, так как перед этой строкой
#есть строка с view и таргетом 1
#Удалим строки где action == like
feed_data = feed_data[feed_data.action == "view"]
feed_data.head()

            timestamp  user_id  post_id action  target
0 2021-11-28 21:49:17     4190     5957   view       0
1 2021-11-28 21:52:12     4190     3843   view       0
2 2021-11-28 21:53:20     4190     1523   view       0
3 2021-11-28 21:56:19     4190     2758   view       0
4 2021-11-28 21:57:05     4190     1072   view       0

Давайте применим передовой подход к контентной фильтрации и сгенерируем информативные признаки из данных о пользователях и текстов/названий топиков постов (например, используя TF-IDF). Затем мы обучим модель бинарной классификации на данных о взаимодействии пользователей с постами.

Для конкретного пользователя, которому нужно выдать рекомендацию, мы будем выбирать некоторое количество постов и прогонять через модель классификации данные о пользователе и признаки постов. В ответ мы получим целевые значения, оценим вероятности и отсортируем их по убыванию. Наконец, мы выдадим пользователю n наиболее релевантных постов.

In [9]:
#данные о пользователях возьмем как они есть сейчас
user_info

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [15]:
#Для извлечения эмбеддингов из текста постов применим tf-idf
import re
import string
import nltk
nltk.download("wordnet")
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

wnl = WordNetLemmatizer()
def preprocessing(line, token=wnl):
    line = line.lower()
    line = re.sub(r"[{}]".format(string.punctuation), " ", line)
    line = line.replace("\n\n", " ").replace("\n", " ")
    line = " ".join([token.lemmatize(x) for x in line.split(" ")])
    return line

tfidf = TfidfVectorizer(
    stop_words="english",
    preprocessor=preprocessing
)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Диман\AppData\Roaming\nltk_data...

In [16]:
tfidf_data = (
    tfidf
    .fit_transform(posts_info["text"])
    .toarray()
)
tfidf_data

E:\recom_sys\recom_sys_venv\lib\site-packages\sklearn\feature_extraction\text.py:409: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'wa'] not in stop_words.
  warnings.warn(

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.13273932, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.05061394, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [17]:
tfidf_data = pd.DataFrame(tfidf_data, index=posts_info.post_id, columns = tfidf.get_feature_names_out())
tfidf_data

,00,000,0001,000bn,000m,000s,000th,001,001and,001st,...,𝓫𝓮,𝓫𝓮𝓽𝓽𝓮𝓻,𝓬𝓸𝓾𝓻𝓽𝓼,𝓱𝓮𝓪𝓻𝓲𝓷𝓰,𝓶𝓪𝔂,𝓹𝓱𝔂𝓼𝓲𝓬𝓪𝓵,𝓼𝓸𝓸𝓷𝓮𝓻,𝓼𝓾𝓫𝓸𝓻𝓭𝓲𝓷𝓪𝓽𝓮,𝓽𝓱𝓮,𝓽𝓸
post_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.132739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.050614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7316,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7317,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7318,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7319,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
#Получили большую разряженную матрицу
#Пытаемся кластеризовать тексты
#Мы выделяем 15 кластеров, это своего рода топики или что-то типа того, потом для каждого поста определяем 
#его расстояние до центра каждого кластера 
from sklearn.decomposition import PCA

centered = tfidf_data - tfidf_data.mean()

pca = PCA(n_components=20)
pca_decomp = pca.fit_transform(centered)

from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=15, random_state=0).fit(pca_decomp)

posts_info["TextCluster"] = kmeans.labels_

dists_columns = ["DistanceTo1Clus",
                 "DistanceTo2Clus",
                 "DistanceTo3Clus",
                 "DistanceTo4Clus",
                 "DistanceTo5Clus",
                 "DistanceTo6Clus",
                 "DistanceTo7Clus",
                 "DistanceTo8Clus",
                 "DistanceTo9Clus",
                 "DistanceTo10Clus",
                 "DistanceTo11Clus",
                 "DistanceTo12Clus",
                 "DistanceTo13Clus",
                 "DistanceTo14Clus",
                 "DistanceTo15Clus"]
dists_df = pd.DataFrame(data=kmeans.transform(pca_decomp), columns=dists_columns)

dists_df.head()

E:\recom_sys\recom_sys_venv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

,DistanceTo1Clus,DistanceTo2Clus,DistanceTo3Clus,DistanceTo4Clus,DistanceTo5Clus,DistanceTo6Clus,DistanceTo7Clus,DistanceTo8Clus,DistanceTo9Clus,DistanceTo10Clus,DistanceTo11Clus,DistanceTo12Clus,DistanceTo13Clus,DistanceTo14Clus,DistanceTo15Clus
0,0.464879,0.508509,0.467700,0.581664,0.385299,0.533163,0.442044,0.440013,0.134547,0.440405,0.527566,0.455620,0.434029,0.544258,0.482109
1,0.334502,0.389607,0.347093,0.347836,0.197116,0.436620,0.307229,0.297462,0.279859,0.305796,0.423246,0.299589,0.189681,0.450598,0.352476
2,0.353164,0.396053,0.346872,0.537048,0.210132,0.447447,0.328791,0.309648,0.135819,0.313543,0.432465,0.340460,0.338092,0.474413,0.365359
3,0.292496,0.360154,0.307119,0.496020,0.127861,0.411513,0.292124,0.256852,0.239077,0.256255,0.386125,0.285338,0.268795,0.436755,0.325300
4,0.231700,0.303916,0.245368,0.462533,0.068018,0.402641,0.224042,0.166792,0.300184,0.158558,0.343167,0.240739,0.221068,0.395318,0.264310

In [19]:
posts_info = pd.concat((posts_info, dists_df), axis=1)
posts_info.head()

,post_id,text,topic,TextCluster,DistanceTo1Clus,DistanceTo2Clus,DistanceTo3Clus,DistanceTo4Clus,DistanceTo5Clus,DistanceTo6Clus,DistanceTo7Clus,DistanceTo8Clus,DistanceTo9Clus,DistanceTo10Clus,DistanceTo11Clus,DistanceTo12Clus,DistanceTo13Clus,DistanceTo14Clus,DistanceTo15Clus
0,1,UK economy facing major risks\n\nThe UK manufa...,business,8,0.464879,0.508509,0.467700,0.581664,0.385299,0.533163,0.442044,0.440013,0.134547,0.440405,0.527566,0.455620,0.434029,0.544258,0.482109
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,12,0.334502,0.389607,0.347093,0.347836,0.197116,0.436620,0.307229,0.297462,0.279859,0.305796,0.423246,0.299589,0.189681,0.450598,0.352476
2,3,Asian quake hits European shares\n\nShares in ...,business,8,0.353164,0.396053,0.346872,0.537048,0.210132,0.447447,0.328791,0.309648,0.135819,0.313543,0.432465,0.340460,0.338092,0.474413,0.365359
3,4,India power shares jump on debut\n\nShares in ...,business,4,0.292496,0.360154,0.307119,0.496020,0.127861,0.411513,0.292124,0.256852,0.239077,0.256255,0.386125,0.285338,0.268795,0.436755,0.325300
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,4,0.231700,0.303916,0.245368,0.462533,0.068018,0.402641,0.224042,0.166792,0.300184,0.158558,0.343167,0.240739,0.221068,0.395318,0.264310