In [ ]:
import pandas as pd

–ß—Ç–µ–Ω–∏–µ –∏ –æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [ ]:
#–î–∞–Ω–Ω—ã–µ –ø–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º

user_info = pd.read_sql(
    """SELECT * FROM public.user_data""",
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)
user_info.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

In [ ]:
#–ü–æ—Å—Ç—ã, —Ç–µ–∫—Å—Ç
posts_info = pd.read_sql(
    """SELECT * FROM public.post_text_df""",
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)
posts_info.head()

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business
2        3  Asian quake hits European shares\n\nShares in ...  business
3        4  India power shares jump on debut\n\nShares in ...  business
4        5  Lacroix label bought by US firm\n\nLuxury good...  business

In [ ]:
#–ü–æ—Å–º–æ—Ç—Ä–∏–º —Å–∫–æ–ª—å–∫–æ –∑–∞–ø–∏—Å–µ–π –≤ —Ç–∞–±–ª–∏—Ü–µ –¥–µ–π—Å—Ç–≤–∏–π –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π
count_feed_data = pd.read_sql(
    """SELECT count(*) FROM public.feed_data""",

    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)
count_feed_data.head()

      count
0  76892800

In [ ]:
# –ü–æ–ø—Ä–æ–±—É–µ–º —Å—á–∏—Ç–∞—Ç—å –¥–ª—è –Ω–∞—á–∞–ª–∞ 10 –º–∏–ª–ª–∏–æ–Ω–æ–≤ –∑–∞–ø–∏—Å–µ–π
feed_data = pd.read_sql(
    """SELECT * FROM public.feed_data LIMIT 10000000""",

    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)
feed_data.head()

            timestamp  user_id  post_id action  target
0 2021-10-05 18:51:22     1368     1354   view       0
1 2021-10-05 18:54:10     1368     1189   view       0
2 2021-10-05 18:57:02     1368     2523   view       0
3 2021-10-05 18:58:01     1368     1768   view       0
4 2021-10-05 19:00:13     1368     1435   view       0

–û–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö.

In [ ]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –∫–æ–ª–æ–Ω–∫—É —Ç–∞—Ä–≥–µ—Ç
feed_data[feed_data.action != "view"]

                  timestamp  user_id  post_id action  target
16      2021-10-09 15:38:08     1368     1231   like       0
19      2021-10-09 15:39:52     1368     2091   like       0
28      2021-10-09 15:53:47     1368     3312   like       0
56      2021-10-11 07:46:21     1368     4414   like       0
59      2021-10-11 07:49:46     1368     4674   like       0
...                     ...      ...      ...    ...     ...
9999901 2021-11-29 11:15:23    21836     3145   like       0
9999926 2021-11-29 11:53:23    21836     3246   like       0
9999939 2021-12-08 11:04:01    21836     3718   like       0
9999961 2021-12-19 12:47:10    21836     6053   like       0
9999980 2021-12-19 13:09:41    21836     4963   like       0

[1068048 rows x 5 columns]

In [ ]:
feed_data.head(50)

             timestamp  user_id  post_id action  target
0  2021-10-05 18:51:22     1368     1354   view       0
1  2021-10-05 18:54:10     1368     1189   view       0
2  2021-10-05 18:57:02     1368     2523   view       0
3  2021-10-05 18:58:01     1368     1768   view       0
4  2021-10-05 19:00:13     1368     1435   view       0
5  2021-10-05 19:02:38     1368     1709   view       0
6  2021-10-05 19:02:48     1368     1185   view       0
7  2021-10-05 19:03:15     1368      941   view       0
8  2021-10-05 19:04:55     1368     1676   view       0
9  2021-10-05 19:05:21     1368     3921   view       0
10 2021-10-05 19:06:11     1368      178   view       0
11 2021-10-05 19:08:51     1368     1567   view       0
12 2021-10-09 15:32:17     1368     2775   view       0
13 2021-10-09 15:32:44     1368      387   view       0
14 2021-10-09 15:33:57     1368     3883   view       0
15 2021-10-09 15:35:28     1368     1231   view       1
16 2021-10-09 15:38:08     1368     1231   like       0
17 2021-10-09 15:38:10     1368     2482   view       0
18 2021-10-09 15:38:46     1368     2091   view       1
19 2021-10-09 15:39:52     1368     2091   like       0
20 2021-10-09 15:39:54     1368     6739   view       0
21 2021-10-09 15:41:46     1368     5831   view       0
22 2021-10-09 15:42:10     1368     3249   view       0
23 2021-10-09 15:45:06     1368     4728   view       0
24 2021-10-09 15:45:33     1368     3030   view       0
25 2021-10-09 15:48:19     1368     1811   view       0
26 2021-10-09 15:50:22     1368     2230   view       0
27 2021-10-09 15:51:01     1368     3312   view       1
28 2021-10-09 15:53:47     1368     3312   like       0
29 2021-10-09 15:53:49     1368     6217   view       0
30 2021-10-09 15:55:55     1368      812   view       0
31 2021-10-09 15:58:12     1368      989   view       0
32 2021-10-09 15:58:50     1368     2530   view       0
33 2021-10-09 16:00:18     1368     1876   view       0
34 2021-10-09 16:00:59     1368     1032   view       0
35 2021-10-09 16:03:14     1368      940   view       0
36 2021-10-09 16:04:40     1368     1034   view       0
37 2021-10-09 16:05:16     1368      547   view       0
38 2021-10-09 16:05:54     1368     1537   view       0
39 2021-10-09 16:06:44     1368     1777   view       0
40 2021-10-09 16:08:37     1368     1651   view       0
41 2021-10-09 16:08:54     1368     3256   view       0
42 2021-10-09 16:10:42     1368     1223   view       0
43 2021-10-09 16:12:39     1368     4012   view       0
44 2021-10-09 16:14:05     1368     1906   view       0
45 2021-10-09 16:16:44     1368     1865   view       0
46 2021-10-09 16:19:37     1368     1796   view       0
47 2021-10-09 16:21:37     1368     3869   view       0
48 2021-10-09 16:23:55     1368     2487   view       0
49 2021-10-09 16:26:11     1368     1104   view       0

In [ ]:
#–ü–æ–ª—É—á–∞–µ—Ç—Å—è, —á—Ç–æ —Å—Ç—Ä–æ–∫–∏ —Å like - –∏–∑–±—ã—Ç–æ—á–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è, —Ç–∞–∫ –∫–∞–∫ –ø–µ—Ä–µ–¥ —ç—Ç–æ–π —Å—Ç—Ä–æ–∫–æ–π
#–µ—Å—Ç—å —Å—Ç—Ä–æ–∫–∞ —Å view –∏ —Ç–∞—Ä–≥–µ—Ç–æ–º 1
#–£–¥–∞–ª–∏–º —Å—Ç—Ä–æ–∫–∏ –≥–¥–µ action == like
feed_data = feed_data[feed_data.action == "view"]
feed_data.head()

            timestamp  user_id  post_id action  target
0 2021-10-05 18:51:22     1368     1354   view       0
1 2021-10-05 18:54:10     1368     1189   view       0
2 2021-10-05 18:57:02     1368     2523   view       0
3 2021-10-05 18:58:01     1368     1768   view       0
4 2021-10-05 19:00:13     1368     1435   view       0

–î–∞–≤–∞–π—Ç–µ –ø—Ä–∏–º–µ–Ω–∏–º –ø–µ—Ä–µ–¥–æ–≤–æ–π –ø–æ–¥—Ö–æ–¥ –∫ –∫–æ–Ω—Ç–µ–Ω—Ç–Ω–æ–π —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –∏ —Å–≥–µ–Ω–µ—Ä–∏—Ä—É–µ–º –∏–Ω—Ñ–æ—Ä–º–∞—Ç–∏–≤–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –∏–∑ –¥–∞–Ω–Ω—ã—Ö –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è—Ö –∏ —Ç–µ–∫—Å—Ç–æ–≤/–Ω–∞–∑–≤–∞–Ω–∏–π —Ç–æ–ø–∏–∫–æ–≤ –ø–æ—Å—Ç–æ–≤ (–Ω–∞–ø—Ä–∏–º–µ—Ä, –∏—Å–ø–æ–ª—å–∑—É—è TF-IDF). –ó–∞—Ç–µ–º –º—ã –æ–±—É—á–∏–º –º–æ–¥–µ–ª—å –±–∏–Ω–∞—Ä–Ω–æ–π –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –Ω–∞ –¥–∞–Ω–Ω—ã—Ö –æ –≤–∑–∞–∏–º–æ–¥–µ–π—Å—Ç–≤–∏–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å –ø–æ—Å—Ç–∞–º–∏.

–î–ª—è –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –∫–æ—Ç–æ—Ä–æ–º—É –Ω—É–∂–Ω–æ –≤—ã–¥–∞—Ç—å —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—é, –º—ã –±—É–¥–µ–º –≤—ã–±–∏—Ä–∞—Ç—å –Ω–µ–∫–æ—Ç–æ—Ä–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ—Å—Ç–æ–≤ –∏ –ø—Ä–æ–≥–æ–Ω—è—Ç—å —á–µ—Ä–µ–∑ –º–æ–¥–µ–ª—å –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ –∏ –ø—Ä–∏–∑–Ω–∞–∫–∏ –ø–æ—Å—Ç–æ–≤. –í –æ—Ç–≤–µ—Ç –º—ã –ø–æ–ª—É—á–∏–º —Ü–µ–ª–µ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –æ—Ü–µ–Ω–∏–º –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ –∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–µ–º –∏—Ö –ø–æ —É–±—ã–≤–∞–Ω–∏—é. –ù–∞–∫–æ–Ω–µ—Ü, –º—ã –≤—ã–¥–∞–¥–∏–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—é n –Ω–∞–∏–±–æ–ª–µ–µ —Ä–µ–ª–µ–≤–∞–Ω—Ç–Ω—ã—Ö –ø–æ—Å—Ç–æ–≤.
–¢–µ–∫—Å—Ç –≤—ã—à–µ –±—ã–ª –Ω–∞–ø–∏—Å–∞–Ω Codeium (LLM Open AI)

In [ ]:
#–¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è—Ö –≤–æ–∑—å–º–µ–º –∫–∞–∫ –æ–Ω–∏ –µ—Å—Ç—å —Å–µ–π—á–∞—Å
user_info

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [ ]:
#–î–ª—è –∏–∑–≤–ª–µ—á–µ–Ω–∏—è —ç–º–±–µ–¥–¥–∏–Ω–≥–æ–≤ –∏–∑ —Ç–µ–∫—Å—Ç–∞ –ø–æ—Å—Ç–æ–≤ –ø—Ä–∏–º–µ–Ω–∏–º tf-idf
import re
import string
import nltk
nltk.download("wordnet")
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

wnl = WordNetLemmatizer()
def preprocessing(line, token=wnl):
    line = line.lower()
    line = re.sub(r"[{}]".format(string.punctuation), " ", line)
    line = line.replace("\n\n", " ").replace("\n", " ")
    line = " ".join([token.lemmatize(x) for x in line.split(" ")])
    return line

tfidf = TfidfVectorizer(
    stop_words="english",
    preprocessor=preprocessing
)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\–î–∏–º–∞–Ω\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
tfidf_data = (
    tfidf
    .fit_transform(posts_info["text"])
    .toarray()
)
tfidf_data

E:\recom_sys\recom_sys_venv\lib\site-packages\sklearn\feature_extraction\text.py:409: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'wa'] not in stop_words.
  warnings.warn(

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.13273932, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.05061394, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [ ]:
tfidf_data = pd.DataFrame(tfidf_data, index=posts_info.post_id, columns = tfidf.get_feature_names_out())
tfidf_data

,00,000,0001,000bn,000m,000s,000th,001,001and,001st,...,ùì´ùìÆ,ùì´ùìÆùìΩùìΩùìÆùìª,ùì¨ùì∏ùìæùìªùìΩùìº,ùì±ùìÆùì™ùìªùì≤ùì∑ùì∞,ùì∂ùì™ùîÇ,ùìπùì±ùîÇùìºùì≤ùì¨ùì™ùìµ,ùìºùì∏ùì∏ùì∑ùìÆùìª,ùìºùìæùì´ùì∏ùìªùì≠ùì≤ùì∑ùì™ùìΩùìÆ,ùìΩùì±ùìÆ,ùìΩùì∏
post_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.132739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.050614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7316,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7317,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7318,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7319,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#–ü–æ–ª—É—á–∏–ª–∏ –±–æ–ª—å—à—É—é —Ä–∞–∑—Ä—è–∂–µ–Ω–Ω—É—é –º–∞—Ç—Ä–∏—Ü—É
#–ü—ã—Ç–∞–µ–º—Å—è –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–æ–≤–∞—Ç—å —Ç–µ–∫—Å—Ç—ã
#–ú—ã –≤—ã–¥–µ–ª—è–µ–º 15 –∫–ª–∞—Å—Ç–µ—Ä–æ–≤, —ç—Ç–æ —Å–≤–æ–µ–≥–æ —Ä–æ–¥–∞ —Ç–æ–ø–∏–∫–∏ –∏–ª–∏ —á—Ç–æ-—Ç–æ —Ç–∏–ø–∞ —Ç–æ–≥–æ, –ø–æ—Ç–æ–º –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ—Å—Ç–∞ –æ–ø—Ä–µ–¥–µ–ª—è–µ–º 
#–µ–≥–æ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –¥–æ —Ü–µ–Ω—Ç—Ä–∞ –∫–∞–∂–¥–æ–≥–æ –∫–ª–∞—Å—Ç–µ—Ä–∞ 
from sklearn.decomposition import PCA

centered = tfidf_data - tfidf_data.mean()

pca = PCA(n_components=20)
pca_decomp = pca.fit_transform(centered)

from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=15, random_state=0).fit(pca_decomp)

posts_info["TextCluster"] = kmeans.labels_

dists_columns = ["DistanceTo1Clus",
                 "DistanceTo2Clus",
                 "DistanceTo3Clus",
                 "DistanceTo4Clus",
                 "DistanceTo5Clus",
                 "DistanceTo6Clus",
                 "DistanceTo7Clus",
                 "DistanceTo8Clus",
                 "DistanceTo9Clus",
                 "DistanceTo10Clus",
                 "DistanceTo11Clus",
                 "DistanceTo12Clus",
                 "DistanceTo13Clus",
                 "DistanceTo14Clus",
                 "DistanceTo15Clus"]
dists_df = pd.DataFrame(data=kmeans.transform(pca_decomp), columns=dists_columns)

dists_df.head()

E:\recom_sys\recom_sys_venv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

,DistanceTo1Clus,DistanceTo2Clus,DistanceTo3Clus,DistanceTo4Clus,DistanceTo5Clus,DistanceTo6Clus,DistanceTo7Clus,DistanceTo8Clus,DistanceTo9Clus,DistanceTo10Clus,DistanceTo11Clus,DistanceTo12Clus,DistanceTo13Clus,DistanceTo14Clus,DistanceTo15Clus
0,0.532789,0.440336,0.500045,0.463018,0.579462,0.448823,0.383507,0.437839,0.503400,0.130418,0.537427,0.429917,0.526785,0.477317,0.441806
1,0.421857,0.289798,0.373118,0.325388,0.343533,0.292611,0.190711,0.290658,0.420266,0.261761,0.437290,0.145041,0.410640,0.339667,0.281256
2,0.446207,0.313278,0.387777,0.352831,0.539233,0.341907,0.208607,0.314172,0.429958,0.137896,0.477875,0.329333,0.433942,0.360503,0.321927
3,0.411162,0.262689,0.350995,0.292400,0.497399,0.285343,0.123596,0.255082,0.405077,0.239702,0.441916,0.259675,0.389464,0.319152,0.282451
4,0.404367,0.179509,0.295426,0.232027,0.463688,0.235686,0.068077,0.162010,0.353858,0.302731,0.393754,0.217224,0.344225,0.259636,0.216188

In [ ]:
posts_info = pd.concat((posts_info, dists_df), axis=1)
posts_info.head()

,post_id,text,topic,TextCluster,DistanceTo1Clus,DistanceTo2Clus,DistanceTo3Clus,DistanceTo4Clus,DistanceTo5Clus,DistanceTo6Clus,DistanceTo7Clus,DistanceTo8Clus,DistanceTo9Clus,DistanceTo10Clus,DistanceTo11Clus,DistanceTo12Clus,DistanceTo13Clus,DistanceTo14Clus,DistanceTo15Clus
0,1,UK economy facing major risks\n\nThe UK manufa...,business,9,0.532789,0.440336,0.500045,0.463018,0.579462,0.448823,0.383507,0.437839,0.503400,0.130418,0.537427,0.429917,0.526785,0.477317,0.441806
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,11,0.421857,0.289798,0.373118,0.325388,0.343533,0.292611,0.190711,0.290658,0.420266,0.261761,0.437290,0.145041,0.410640,0.339667,0.281256
2,3,Asian quake hits European shares\n\nShares in ...,business,9,0.446207,0.313278,0.387777,0.352831,0.539233,0.341907,0.208607,0.314172,0.429958,0.137896,0.477875,0.329333,0.433942,0.360503,0.321927
3,4,India power shares jump on debut\n\nShares in ...,business,6,0.411162,0.262689,0.350995,0.292400,0.497399,0.285343,0.123596,0.255082,0.405077,0.239702,0.441916,0.259675,0.389464,0.319152,0.282451
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,6,0.404367,0.179509,0.295426,0.232027,0.463688,0.235686,0.068077,0.162010,0.353858,0.302731,0.393754,0.217224,0.344225,0.259636,0.216188

In [ ]:
df = pd.merge(feed_data, posts_info, on="post_id", how="left")
df.head()

,timestamp,user_id,post_id,action,target,text,topic,TextCluster,DistanceTo1Clus,DistanceTo2Clus,...,DistanceTo6Clus,DistanceTo7Clus,DistanceTo8Clus,DistanceTo9Clus,DistanceTo10Clus,DistanceTo11Clus,DistanceTo12Clus,DistanceTo13Clus,DistanceTo14Clus,DistanceTo15Clus
0,2021-10-05 18:51:22,1368,1354,view,0,Super union merger plan touted\n\nTwo of Brita...,politics,6,0.418885,0.172514,...,0.273129,0.109680,0.147929,0.343779,0.287578,0.389908,0.164304,0.337281,0.257375,0.201285
1,2021-10-05 18:54:10,1368,1189,view,0,Economy focus for election battle\n\nBritains ...,politics,4,0.594971,0.500090,...,0.508643,0.469014,0.513445,0.572447,0.477853,0.600538,0.348178,0.596757,0.530190,0.501408
2,2021-10-05 18:57:02,1368,2523,view,0,Exploring the tech industry‚Äôs role in empoweri...,covid,7,0.431239,0.172407,...,0.290968,0.184678,0.038194,0.362946,0.342576,0.392174,0.268280,0.290110,0.259782,0.242589
3,2021-10-05 18:58:01,1368,1768,view,0,Holmes back on form in Birmingham\n\nDouble Ol...,sport,14,0.631418,0.500612,...,0.564385,0.499834,0.532844,0.561010,0.559389,0.533029,0.531022,0.605785,0.533325,0.371025
4,2021-10-05 19:00:13,1368,1435,view,0,Gerrard plays down European hopes\n\nSteven Ge...,sport,14,0.564275,0.401467,...,0.469896,0.395124,0.421503,0.407241,0.498277,0.530120,0.451681,0.517314,0.451075,0.265110

In [ ]:
df = pd.merge(df,
              user_info,
              on='user_id',
              how='left')

df.head()

In [ ]:
#–ê –µ—â–µ –≤—ã–¥–µ–ª–∏–º –ø—Ä–∏–∑–Ω–∞–∫–∏ –∏–∑ timestamp
df["hour"] = pd.to_datetime(df["timestamp"]).apply(lambda x: x.hour)
df["month"] = pd.to_datetime(df["timestamp"]).apply(lambda x: x.month)
df.head()

,timestamp,user_id,post_id,action,target,text,topic,TextCluster,DistanceTo1Clus,DistanceTo2Clus,...,DistanceTo8Clus,DistanceTo9Clus,DistanceTo10Clus,DistanceTo11Clus,DistanceTo12Clus,DistanceTo13Clus,DistanceTo14Clus,DistanceTo15Clus,hour,month
0,2021-10-05 18:51:22,1368,1354,view,0,Super union merger plan touted\n\nTwo of Brita...,politics,6,0.418885,0.172514,...,0.147929,0.343779,0.287578,0.389908,0.164304,0.337281,0.257375,0.201285,18,10
1,2021-10-05 18:54:10,1368,1189,view,0,Economy focus for election battle\n\nBritains ...,politics,4,0.594971,0.500090,...,0.513445,0.572447,0.477853,0.600538,0.348178,0.596757,0.530190,0.501408,18,10
2,2021-10-05 18:57:02,1368,2523,view,0,Exploring the tech industry‚Äôs role in empoweri...,covid,7,0.431239,0.172407,...,0.038194,0.362946,0.342576,0.392174,0.268280,0.290110,0.259782,0.242589,18,10
3,2021-10-05 18:58:01,1368,1768,view,0,Holmes back on form in Birmingham\n\nDouble Ol...,sport,14,0.631418,0.500612,...,0.532844,0.561010,0.559389,0.533029,0.531022,0.605785,0.533325,0.371025,18,10
4,2021-10-05 19:00:13,1368,1435,view,0,Gerrard plays down European hopes\n\nSteven Ge...,sport,14,0.564275,0.401467,...,0.421503,0.407241,0.498277,0.530120,0.451681,0.517314,0.451075,0.265110,19,10

In [ ]:
#–£–±–µ—Ä–µ–º –≤—Å–µ –Ω–µ–Ω—É–∂–Ω—ã–µ –∫–æ–ª–æ–Ω–∫–∏
df = df.drop(["action", "text"], axis=1)
df = df.set_index(["user_id", "post_id"])
df.head(50)

                          timestamp  target          topic  TextCluster
user_id post_id
1368    1354    2021-10-05 18:51:22       0       politics            6  \
        1189    2021-10-05 18:54:10       0       politics            4
        2523    2021-10-05 18:57:02       0          covid            7
        1768    2021-10-05 18:58:01       0          sport           14
        1435    2021-10-05 19:00:13       0          sport           14
        1709    2021-10-05 19:02:38       0          sport           14
        1185    2021-10-05 19:02:48       0       politics           11
        941     2021-10-05 19:03:15       0       politics            4
        1676    2021-10-05 19:04:55       0          sport            8
        3921    2021-10-05 19:05:21       0          covid            7
        178     2021-10-05 19:06:11       0       business            6
        1567    2021-10-05 19:08:51       0          sport           14
        2775    2021-10-09 15:32:17       0          covid            7
        387     2021-10-09 15:32:44       0       business            9
        3883    2021-10-09 15:33:57       0          covid            7
        1231    2021-10-09 15:35:28       1       politics           11
        2482    2021-10-09 15:38:10       0          covid            3
        2091    2021-10-09 15:38:46       1           tech            5
        6739    2021-10-09 15:39:54       0          movie            1
        5831    2021-10-09 15:41:46       0          movie            1
        3249    2021-10-09 15:42:10       0          covid            3
        4728    2021-10-09 15:45:06       0          movie            1
        3030    2021-10-09 15:45:33       0          covid            3
        1811    2021-10-09 15:48:19       0          sport           14
        2230    2021-10-09 15:50:22       0           tech            5
        3312    2021-10-09 15:51:01       1          covid            7
        6217    2021-10-09 15:53:49       0          movie            1
        812     2021-10-09 15:55:55       0  entertainment            6
        989     2021-10-09 15:58:12       0       politics            4
        2530    2021-10-09 15:58:50       0          covid            7
        1876    2021-10-09 16:00:18       0          sport            8
        1032    2021-10-09 16:00:59       0       politics           11
        940     2021-10-09 16:03:14       0       politics            4
        1034    2021-10-09 16:04:40       0       politics           11
        547     2021-10-09 16:05:16       0  entertainment            6
        1537    2021-10-09 16:05:54       0          sport            7
        1777    2021-10-09 16:06:44       0          sport            8
        1651    2021-10-09 16:08:37       0          sport           14
        3256    2021-10-09 16:08:54       0          covid            3
        1223    2021-10-09 16:10:42       0       politics            4
        4012    2021-10-09 16:12:39       0          covid            7
        1906    2021-10-09 16:14:05       0          sport            6
        1865    2021-10-09 16:16:44       0          sport           14
        1796    2021-10-09 16:19:37       0          sport           14
        3869    2021-10-09 16:21:37       0          covid            7
        2487    2021-10-09 16:23:55       0          covid            7
        1104    2021-10-09 16:26:11       0       politics            4
        3787    2021-10-11 07:38:46       0          covid            7
        3898    2021-10-11 07:40:15       0          covid            7
        5707    2021-10-11 07:41:48       0          movie            1

                 DistanceTo1Clus  DistanceTo2Clus  DistanceTo3Clus
user_id post_id
1368    1354            0.418885         0.172514         0.293106  \
        1189            0.594971         0.500090         0.549325
        2523            0.431239         0.172407         0.296465
        1768            0.631418         0.500612         0.547987
        1435            0.564275         0.401467         0.469557
        1709            0.451770         0.221142         0.326152
        1185            0.532606         0.410883         0.466987
        941             0.666932         0.570379         0.614231
        1676            0.575964         0.424180         0.485615
        3921            0.442520         0.179525         0.301973
        178             0.442976         0.262622         0.356756
        1567            0.429287         0.162506         0.288562
        2775            0.434033         0.154897         0.282345
        387             0.426606         0.218767         0.317864
        3883            0.439294         0.174237         0.296462
        1231            0.517217         0.364742         0.425507
        2482            0.453608         0.206964         0.304803
        2091            0.267191         0.253912         0.351617
        6739            0.425350         0.088159         0.230617
        5831            0.431283         0.108620         0.162899
        3249            0.455706         0.219109         0.321974
        4728            0.485454         0.182404         0.233048
        3030            0.466121         0.239088         0.337589
        1811            0.465446         0.243051         0.341471
        2230            0.387964         0.194017         0.306922
        3312            0.437025         0.199002         0.309134
        6217            0.467673         0.137857         0.252918
        812             0.432400         0.207798         0.320330
        989             0.739581         0.649895         0.692075
        2530            0.446481         0.191595         0.305242
        1876            0.449652         0.239556         0.336921
        1032            0.462526         0.252292         0.338457
        940             0.782950         0.696738         0.735092
        1034            0.502625         0.371775         0.436369
        547             0.452563         0.247440         0.336669
        1537            0.419733         0.131869         0.271092
        1777            0.491110         0.301628         0.376042
        1651            0.456567         0.242488         0.337794
        3256            0.474208         0.244743         0.341023
        1223            0.600721         0.469971         0.526312
        4012            0.473165         0.232841         0.315012
        1906            0.424540         0.158893         0.285111
        1865            0.580672         0.438121         0.493602
        1796            0.447557         0.217372         0.320493
        3869            0.441492         0.173594         0.291596
        2487            0.430948         0.142595         0.268274
        1104            0.680221         0.591323         0.635462
        3787            0.417009         0.163212         0.290782
        3898            0.433545         0.172436         0.293832
        5707            0.433919         0.163747         0.190410

                 DistanceTo4Clus  DistanceTo5Clus  DistanceTo6Clus  ...
user_id post_id                                                     ...
1368    1354            0.220720         0.429664         0.273129  ...  \
        1189            0.537177         0.115493         0.508643  ...
        2523            0.140445         0.489325         0.290968  ...
        1768            0.554220         0.663793         0.564385  ...
        1435            0.447700         0.601036         0.469896  ...
        1709            0.282097         0.500077         0.319467  ...
        1185            0.458401         0.288907         0.405495  ...
        941             0.600413         0.212533         0.584792  ...
        1676            0.452108         0.622323         0.486755  ...
        3921            0.153145         0.494257         0.303025  ...
        178             0.298072         0.466128         0.281328  ...
        1567            0.228849         0.476050         0.277206  ...
        2775            0.133645         0.491674         0.292729  ...
        387             0.273149         0.466435         0.300361  ...
        3883            0.139153         0.492366         0.296794  ...
        1231            0.419097         0.252684         0.402233  ...
        2482            0.081118         0.507916         0.322544  ...
        2091            0.307408         0.509390         0.200388  ...
        6739            0.248265         0.481413         0.280725  ...
        5831            0.251852         0.488031         0.290188  ...
        3249            0.081192         0.497323         0.325923  ...
        4728            0.362137         0.532690         0.361738  ...
        3030            0.076252         0.497330         0.323057  ...
        1811            0.300324         0.506484         0.339752  ...
        2230            0.265917         0.430430         0.147459  ...
        3312            0.164233         0.467947         0.291988  ...
        6217            0.302352         0.527921         0.355837  ...
        812             0.267774         0.470949         0.297608  ...
        989             0.668635         0.270328         0.668113  ...
        2530            0.075431         0.496576         0.308131  ...
        1876            0.281573         0.511975         0.330820  ...
        1032            0.314409         0.375578         0.315329  ...
        940             0.719145         0.289741         0.712533  ...
        1034            0.411176         0.208874         0.386905  ...
        547             0.311358         0.413230         0.309933  ...
        1537            0.208166         0.474608         0.274383  ...
        1777            0.361190         0.533176         0.384538  ...
        1651            0.304594         0.480999         0.337479  ...
        3256            0.060468         0.506166         0.337277  ...
        1223            0.496897         0.139790         0.509775  ...
        4012            0.233331         0.513555         0.346771  ...
        1906            0.209589         0.469476         0.256334  ...
        1865            0.484504         0.620221         0.491137  ...
        1796            0.262521         0.496158         0.317967  ...
        3869            0.133267         0.489241         0.298223  ...
        2487            0.156516         0.483021         0.289739  ...
        1104            0.617757         0.163197         0.607417  ...
        3787            0.146436         0.486156         0.276826  ...
        3898            0.142963         0.487052         0.291083  ...
        5707            0.300219         0.512155         0.312747  ...

                 DistanceTo8Clus  DistanceTo9Clus  DistanceTo10Clus
user_id post_id
1368    1354            0.147929         0.343779          0.287578  \
        1189            0.513445         0.572447          0.477853
        2523            0.038194         0.362946          0.342576
        1768            0.532844         0.561010          0.559389
        1435            0.421503         0.407241          0.498277
        1709            0.223338         0.164603          0.361497
        1185            0.423770         0.488931          0.464452
        941             0.583699         0.642095          0.583487
        1676            0.419152         0.122086          0.509333
        3921            0.062671         0.364961          0.354242
        178             0.252542         0.381329          0.267769
        1567            0.165855         0.273292          0.317112
        2775            0.030102         0.361956          0.349572
        387             0.229401         0.371459          0.135329
        3883            0.023541         0.364299          0.349187
        1231            0.385934         0.469084          0.457280
        2482            0.110978         0.392315          0.366456
        2091            0.264215         0.403591          0.357918
        6739            0.179797         0.337301          0.341725
        5831            0.193458         0.324350          0.352130
        3249            0.119572         0.371877          0.321034
        4728            0.326437         0.434248          0.409820
        3030            0.115373         0.390213          0.369697
        1811            0.250780         0.296019          0.387167
        2230            0.212253         0.385381          0.368591
        3312            0.097148         0.369420          0.342852
        6217            0.256455         0.421515          0.401510
        812             0.214979         0.372609          0.338885
        989             0.652565         0.723907          0.671404
        2530            0.068808         0.372687          0.358920
        1876            0.227053         0.153787          0.357087
        1032            0.268667         0.379329          0.349649
        940             0.702489         0.768123          0.720018
        1034            0.373617         0.469902          0.441770
        547             0.261113         0.391580          0.375368
        1537            0.118790         0.274279          0.335644
        1777            0.323997         0.067740          0.419388
        1651            0.252992         0.383796          0.367374
        3256            0.132945         0.400541          0.346772
        1223            0.462851         0.556973          0.516155
        4012            0.198225         0.398163          0.389721
        1906            0.147193         0.308120          0.338476
        1865            0.462766         0.453747          0.506394
        1796            0.204548         0.330881          0.339869
        3869            0.040859         0.372141          0.342451
        2487            0.065424         0.351360          0.337661
        1104            0.594887         0.665024          0.613741
        3787            0.070744         0.327872          0.341406
        3898            0.046801         0.329656          0.348120
        5707            0.248851         0.365207          0.372577

                 DistanceTo11Clus  DistanceTo12Clus  DistanceTo13Clus
user_id post_id
1368    1354             0.389908          0.164304          0.337281  \
        1189             0.600538          0.348178          0.596757
        2523             0.392174          0.268280          0.290110
        1768             0.533029          0.531022          0.605785
        1435             0.530120          0.451681          0.517314
        1709             0.396324          0.274054          0.378603
        1185             0.530163          0.196742          0.530126
        941              0.657956          0.434100          0.654052
        1676             0.542405          0.448639          0.519004
        3921             0.354832          0.276683          0.292972
        178              0.431541          0.165785          0.392793
        1567             0.390623          0.237418          0.344444
        2775             0.404801          0.275362          0.278981
        387              0.414220          0.238585          0.375832
        3883             0.403559          0.276140          0.285886
        1231             0.501647          0.227550          0.492009
        2482             0.422720          0.306473          0.298966
        2091             0.417615          0.269981          0.403629
        6739             0.386559          0.252181          0.357792
        5831             0.390728          0.270518          0.358985
        3249             0.423146          0.300196          0.309081
        4728             0.410384          0.351468          0.448607
        3030             0.434894          0.284409          0.285670
        1811             0.431854          0.305625          0.399937
        2230             0.411684          0.229022          0.367566
        3312             0.420622          0.220645          0.287137
        6217             0.431865          0.329629          0.394647
        812              0.254754          0.246611          0.365497
        989              0.740922          0.538624          0.717996
        2530             0.405054          0.277981          0.295732
        1876             0.415375          0.300483          0.378438
        1032             0.422698          0.071035          0.404644
        940              0.774274          0.569619          0.764063
        1034             0.495832          0.196077          0.485408
        547              0.407186          0.188455          0.402276
        1537             0.378585          0.248095          0.327927
        1777             0.452489          0.346832          0.442755
        1651             0.382013          0.266418          0.399015
        3256             0.435165          0.309315          0.309861
        1223             0.584807          0.337171          0.554463
        4012             0.430904          0.309844          0.329974
        1906             0.394488          0.207416          0.332494
        1865             0.524862          0.491211          0.547619
        1796             0.398151          0.282938          0.362270
        3869             0.407000          0.258660          0.285548
        2487             0.396874          0.262807          0.295418
        1104             0.678778          0.484759          0.672259
        3787             0.392000          0.261034          0.290413
        3898             0.410125          0.254467          0.286982
        5707             0.335761          0.298622          0.395267

                 DistanceTo14Clus  DistanceTo15Clus  hour  month
user_id post_id
1368    1354             0.257375          0.201285    18     10
        1189             0.530190          0.501408    18     10
        2523             0.259782          0.242589    18     10
        1768             0.533325          0.371025    18     10
        1435             0.451075          0.265110    19     10
        1709             0.293080          0.162732    19     10
        1185             0.447304          0.404679    19     10
        941              0.598620          0.565530    19     10
        1676             0.464901          0.385399    19     10
        3921             0.268185          0.238097    19     10
        178              0.322261          0.275100    19     10
        1567             0.253204          0.124426    19     10
        2775             0.250500          0.231209    15     10
        387              0.286120          0.247241    15     10
        3883             0.263695          0.239167    15     10
        1231             0.407617          0.355746    15     10
        2482             0.280944          0.268928    15     10
        2091             0.310799          0.279841    15     10
        6739             0.200846          0.206292    15     10
        5831             0.209501          0.233895    15     10
        3249             0.291925          0.258046    15     10
        4728             0.229303          0.319526    15     10
        3030             0.307752          0.284996    15     10
        1811             0.312564          0.128319    15     10
        2230             0.265439          0.257511    15     10
        3312             0.280102          0.265633    15     10
        6217             0.185294          0.294755    15     10
        812              0.281172          0.246573    15     10
        989              0.677037          0.659772    15     10
        2530             0.271366          0.252823    15     10

–û–±—É—á–∞–µ–º –º–æ–¥–µ–ª–∏!

In [ ]:
#–ù–∞—á–Ω–µ–º —Å —Ä–µ—à–∞—é—â–µ–≥–æ –¥–µ—Ä–µ–≤–∞, –Ω–∞ —Ç–µ—Å—Ç –∏ —Ç—Ä–µ–π–Ω –±—É–¥–µ–º –¥–µ–ª–∏—Ç—å –ø–æ –≤—Ä–µ–º–µ–Ω–∏, —Ç–∞–∫ –∫–∞–∫ –º—ã –±—É–¥–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞—Ç—å –ø–æ—Å—Ç—ã –≤ –±—É–¥—É—â–µ–º
max(df.timestamp), min(df.timestamp)

(Timestamp('2021-12-29 23:43:15'), Timestamp('2021-10-01 06:01:40'))

In [ ]:
#–Ω–µ –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ç–µ—Å—Ç —Ç–∞–π–º —Å–ø–ª–∏—Ç –∞ –≤–æ–∑—å–º–µ–º –∫–∞–∫—É—é –Ω–∏–±—É–¥—å –∫–æ–Ω–∫—Ä–µ—Ç–Ω—É—é –¥–∞—Ç—É
df_train = df[df.timestamp < "2021-12-15"]
df_test = df[df.timestamp >= "2021-12-15"]

df_train = df_train.drop("timestamp", axis=1)
df_test = df_test.drop("timestamp", axis=1)

X_train = df_train.drop("target", axis=1)
X_test = df_test.drop("target", axis=1)

y_train = df_train["target"]
y_test = df_test["target"]

y_train.shape, y_test.shape

((7460037,), (1471915,))

In [ ]:
#–ù–∞—á–Ω–µ–º —Å —Ä–µ—à–∞—é—â–µ–≥–æ –¥–µ—Ä–µ–≤–∞

from sklearn.compose import ColumnTransformer
from category_encoders import TargetEncoder
from category_encoders.one_hot import OneHotEncoder

object_cols = [
    "topic", "TextCluster", "gender", "country", "city", "exp_group", "hour", "month", "os", "source"]

cols_for_one = [x for x in object_cols if X_train[x].nunique() < 5]
cols_for_mte = [x for x in object_cols if X_train[x].nunique() >= 5]

#–°–æ—Ö—Ä–∞–Ω–∏–º –∏–Ω–¥–µ–∫—Å—ã —ç—Ç–∏—Ö –∫–æ–ª–æ–Ω–æ–∫
cols_for_one_idx = [list(X_train.columns).index(col) for col in cols_for_one]
cols_for_mte_idx = [list(X_train.columns).index(col) for col in cols_for_mte]

t = [
    ("OneHotEncder", OneHotEncoder(), cols_for_one_idx),
    ("MeanTargetEncoder", TargetEncoder(), cols_for_mte_idx)
]

col_transform = ColumnTransformer(transformers=t)

from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline

pipe_dt = Pipeline([("column_transformer", col_transform),
                    
                    ("decision_tree", DecisionTreeClassifier())])
pipe_dt.fit(X_train, y_train)

KeyError: 'country'

In [ ]:
### –ó–∞–º–µ—Ä–∏–º –∫–∞—á–µ—Å—Ç–≤–æ —Ä–∞–±–æ—Ç—ã —Ç–∞–∫–æ–π –º–æ–¥–µ–ª–∏
### –í–æ–∑—å–º–µ–º ROC-AUC

from sklearn.metrics import roc_auc_score

print(f"–ö–∞—á–µ—Å—Ç–≤–æ –Ω–∞ —Ç—Ä–µ–π–Ω–µ: {roc_auc_score(y_train, pipe_dt.predict_proba(X_train)[:, 1])}")
print(f"–ö–∞—á–µ—Å—Ç–≤–æ –Ω–∞ —Ç–µ—Å—Ç–µ: {roc_auc_score(y_test, pipe_dt.predict_proba(X_test)[:, 1])}")

Index(['topic', 'TextCluster', 'DistanceTo1Clus', 'DistanceTo2Clus',
       'DistanceTo3Clus', 'DistanceTo4Clus', 'DistanceTo5Clus',
       'DistanceTo6Clus', 'DistanceTo7Clus', 'DistanceTo8Clus',
       'DistanceTo9Clus', 'DistanceTo10Clus', 'DistanceTo11Clus',
       'DistanceTo12Clus', 'DistanceTo13Clus', 'DistanceTo14Clus',
       'DistanceTo15Clus', 'hour', 'month'],
      dtype='object')

In [ ]:
### –¢–µ–ø–µ—Ä—å –æ–±—É—á–∏–º –∫–∞—Ç–±—É—Å—Ç!

from catboost import CatBoostClassifier

catboost = CatBoostClassifier(iterations=100,
                              learning_rate=1,
                              depth=2)

catboost.fit(X_train, y_train, object_cols)

In [ ]:
### –ó–∞–º–µ—Ä–∏–º –∫–∞—á–µ—Å—Ç–≤–æ —Ä–∞–±–æ—Ç—ã —Ç–∞–∫–æ–π –º–æ–¥–µ–ª–∏
### –í–æ–∑—å–º–µ–º ROC-AUC

print(f"–ö–∞—á–µ—Å—Ç–≤–æ –Ω–∞ —Ç—Ä–µ–π–Ω–µ: {roc_auc_score(y_train, catboost.predict_proba(X_train)[:, 1])}")
print(f"–ö–∞—á–µ—Å—Ç–≤–æ –Ω–∞ —Ç–µ—Å—Ç–µ: {roc_auc_score(y_test, catboost.predict_proba(X_test)[:, 1])}")

In [ ]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

def plot_feature_importance(importance,names,model_type):
    
    #Create arrays from feature importance and feature names
    feature_importance = np.array(importance)
    feature_names = np.array(names)
    
    #Create a DataFrame using a Dictionary
    data={'feature_names':feature_names,'feature_importance':feature_importance}
    fi_df = pd.DataFrame(data)
    
    #Sort the DataFrame in order decreasing feature importance
    fi_df.sort_values(by=['feature_importance'], ascending=False,inplace=True)
    
    #Define size of bar plot
    plt.figure(figsize=(10,8))
    #Plot Searborn bar chart
    sns.barplot(x=fi_df['feature_importance'], y=fi_df['feature_names'])
    #Add chart labels
    plt.title(model_type + 'FEATURE IMPORTANCE')
    plt.xlabel('FEATURE IMPORTANCE')
    plt.ylabel('FEATURE NAMES')
    
plot_feature_importance(catboost.feature_importances_,X_train.columns,'Catboost')